body {
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.laskin {
    background-color: rgb(66, 66, 245);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 300px;
    height: 450px;
}

#tulos {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
}

.nappaimisto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: orange;
}

button.iso {
    grid-column: span 2;
}