body{
  margin: 0 auto;
}
form    
{
  width: 400px;
  height: 800px;
  background-color: rgb(172, 172, 115);
  padding: 40px;
  display: inline-block;

  text-align: left;
  margin-top: 40px;
  border: 2px solid rgb(16, 52, 159);
  border-radius: 10%;
}
.keskita{
  text-align: center;
}
td
{
  width: 50px;
}
.oikea
{
  text-align: right;
}
h1
{
  text-align: center;
}
