body {
    background-color: #E6E6FA;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #4A4A4A;
    border: 2px solid #FFD700;
}
h1 {
    color: #6086ab;
    background-color: #6086ab, #ab8660;
}   