body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
  font-size: 25px;
  background-color: #dcdcdc9d; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: auto;
}

.kortti {
  background-color: gray;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #999;
  text-align: center;
  width: 800px;
}

h1 {
  color: rgb(162, 228, 228); 
  margin-bottom: 40px;
}

.valinnat button {
  background-color: transparent;
  border: 3px solid rgb(162, 228, 228);
  color: #edb8c9;
  border-radius: 50%;
  padding: 20px 25px;
  margin: 10px;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, cursive;
  cursor: pointer;
  transition: 0.3s;
}

.valinnat button:hover {
  background-color: #9690f0; 
  margin-bottom: 50px;
}

#tulos {
  margin-top: 20px;
  font-size: 35px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
}